<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SixtyForth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="_64th.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SixtyForth.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>64th.log</value>
            </setting>
            <setting name="LogAppend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show64thShell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show64thConsole" serializeAs="String">
                <value>False</value>
            </setting>
        </SixtyForth.Properties.Settings>
        <_64th.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>64th.log</value>
            </setting>
            <setting name="LogAppend" serializeAs="String">
                <value>False</value>
            </setting>
        </_64th.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
